.App {
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.header {
  color: white;
  height: 100%;
  /* background-color: linear-gradient(
    rgba(black, 0.6),
    rgba(black, 0.8)
  ) !important;
  background-image: url("./assests/melbourne.jpg"); */
  background: linear-gradient(rgba(37, 37, 37, 0.4), rgba(53, 53, 53, 0.8)),
    url("./assests/melbournebg.jpg");
  background-size: cover;
  background-position: center center;
}

.nav > #name {
  float: left;
}

.nav-item {
  float: left;
}

.nav-link {
  color: white;
  transition: 100ms ease-in-out;
}

.nav-link:hover {
  text-decoration: none;
}

.lower_header {
  margin-top: 10%;
}

.action {
  display: grid;
  color: white;
  grid-column-gap: 1rem;
  grid-row-gap: 0;
  width: 100%;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  transition: 150ms ease-in-out;
}

.action:hover {
  transform: translateY(-1rem);
  text-decoration: none;
  color: white;
}

.section.about {
  background: #4db6ac;
}

.about > .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 100%;
}

.section.skills {
  margin-top: -3rem;
  padding-bottom: 1rem;
}

.container.is-narrow {
  max-width: 80%;
}

.box {
  border-radius: 12px;
  background-color: white;
  border: 1px solid #e6ecf8;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  list-style: none;
}

.column.bord {
  height: 100%;
  border-right: 1px solid #e6ecf8;
}

.column > i {
  padding-top: 5vh;
  color: #2196f3;
}
ul {
  list-style: none;
  padding-top: 5vh;
  padding-left: 0;
  text-align: center;
  color: rgb(59, 59, 59);
}

.column > ul > li {
  margin-top: 1vh;
}

.projects {
  margin-top: 5vh;
}

.heading-secondary:hover {
  transition: 150ms ease-in-out;
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.mycard {
  margin-top: 5vh;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
}
.card__side {
  color: #fff;
  font-size: 2rem;
  height: 22rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(
    to right bottom,
    #eca026,
    rgba(185, 19, 19, 0.911)
  );
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #9c1283, #aa2b15);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #44b2e6, #05044d);
}
.card__side--back-4 {
  background-image: linear-gradient(to right bottom, #6b330e, #978f1c);
}
.card__side--back-5 {
  background-image: linear-gradient(to right bottom, #396b2a, #1b2e21);
}
.card__side--back-6 {
  background-image: linear-gradient(to right bottom, #838383, #2e2e2e);
}
.mycard:hover .card__side--front {
  transform: rotateY(-180deg);
}
.mycard:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  background-position: center center;
  height: 9rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      #eca026,
      rgba(185, 19, 19, 0.911)
    ),
    url("./assests/react.png");
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #9c1283, #aa2b15),
    url("./assests/node.png");
}
/* .card__picture--3 {
  background-image: linear-gradient(to right bottom, #44b2e6, #05044d),
    url(../img/chatbg.png);
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #6b330e, #978f1c),
    url(../img/food.png);
}
.card__picture--5 {
  background-image: linear-gradient(to right bottom, #396b2a, #1b2e21),
    url(../img/dollar.jpg);
}
.card__picture--6 {
  background-image: linear-gradient(to right bottom, #838383, #2e2e2e),
    url(../img/office-hall.jpg);
} */
.card__heading {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 80%;
  line-height: 2.1rem;
}
.card__heading-span {
  padding: 1rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(236, 160, 38, 0.8),
    rgba(185, 19, 19, 0.8)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(156, 18, 131, 0.9),
    rgba(170, 43, 21, 0.9)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(68, 178, 230, 0.9),
    rgba(5, 4, 77, 0.9)
  );
}
.card__heading-span--4 {
  background-image: linear-gradient(
    to right bottom,
    rgba(107, 51, 14, 0.9),
    rgba(151, 143, 28, 0.9)
  );
}

.card__details {
  padding: 1rem 3rem;
  color: darkslategrey;
}
.card__details ul {
  padding-top: 0;
  list-style: none;
  width: 100%;
  margin: 0 auto;
}
.card__details li {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}
.card__details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.card__box {
  text-align: center;
}
.card__description {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.card__svg-icon {
  width: 20%;
  position: absolute;
  left: 5%;
  top: 5%;
}
.card__svg-icon-2 {
  top: -5%;
  left: 5%;
}
.card__svg-icon-3 {
  width: 18%;
  top: 7%;
  left: 7%;
}
.card__svg-icon-4 {
  top: 0%;
  left: -10%;
  width: 30%;
}
.card__svg-icon-5 {
  top: 2%;
  left: -4%;
  width: 25%;
}
.card__svg-icon-6 {
  top: 5%;
  left: 0%;
  width: 35%;
}
